@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

@import '_text';
@import '_button';
@import '_input';
@import '_animation';
@import '_sticky';

:root {
  --fancy-font: theme('fontFamily.fancy');
  --body-bg: theme('colors.light');
  --tw-bg-white: theme('colors.white');
  --tw-bg-light: theme('colors.light');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: var(--body-bg);
}
